streamlit
langchain-text-splitters
langchain-community
langgraph
langchain-google-vertexai
langchain-core
langchain-docling
langchain-google-genai
langchain_redis
pypdf
fitz
PyMuPDF
pdf2image
matplotlib
pdf2image
poppler-utils
